Django>=4.2,<5
psycopg2-binary>=2.9.9
qrcode>=7.4
gunicorn>=21.2.0
whitenoise[brotli]>=6.6.0
celery[redis]>=5.3.0
django-celery-beat>=2.5.0
django-celery-results>=2.5.0
djangorestframework>=3.14.0
Pillow>=10.0.0
opencv-python-headless>=4.8.0
reportlab>=4.0.0
openpyxl>=3.1.0
arabic-reshaper>=3.0.0
python-bidi>=0.6.0
django-storages[s3]>=1.14.3
django-axes>=5.32,<6
